@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.inicio{
    font-family: 'Oswald', sans-serif;
    background: linear-gradient(to top, rgba(30, 35, 38, 0.466), rgba(30, 35, 38, 0.466)), 
    url(../../../../assets/banner.jpg);
    background-size: cover;
    height: 680px;
    margin-top: -70px;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.inicio .contenido-banner{
    padding: 20px;
    background-color: #1e2326;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 350px;
    margin-left: 100px;
    text-align: center;
    border-radius: 40px;
    transition: .2s;

}
.inicio .contenido-banner:hover{
    transform: scale(1.01);
}

.inicio .contenido-banner img{
    margin-top: 40px;
    border: 3px solid #ffffff;
    background: #ffffff;
    width: 72%;
    margin: auto;
    border-radius: 100%;
}

.inicio .contenido-banner h6{
    margin-top: 5px;
    font-size: 30px;
    font-weight: 500;
}

#arroba{
    font-weight:normal;  
    font-size: 15px;
    margin-top: -10px;
    margin-left: -100px;
    color: rgb(112, 112, 112);
}

.inicio .contenido-banner .titulos ul{
    list-style-type: none;
}

.inicio .contenido-banner .titulos li{
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    text-align: center;
    margin-top: 15px;
    margin-right: 10px;
    padding: 0;
    float: left;
    transition: 0.1s;
    cursor: pointer;
}

.inicio .contenido-banner .titulos li:hover{
    transform: scale(1.1);
}

.inicio .contenido-banner .titulos p{
    color: rgb(255, 255, 255);
    padding: 1px 10px;
    text-decoration: none;
    background: #2e353a;
    border-radius: 10px;
}

.inicio .contenido-banner .titulos .circle{
    color: #ffd900;
}


/* SOCIAL AND CONTACT */

.inicio .banner-card-two {
    padding: 30px;
    background-color: #1e2326;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 350px;
    margin-left: 405px;
    text-align: start;
    border-radius: 40px;
    transition: .2s;
}
.inicio .banner-card-two:hover{
    transform: scale(1.01);
}


.inicio .banner-card-two h5{
    text-align: center;
}
.inicio .banner-card-two .social ul{
    list-style-type: none;
    display: flex;
    margin-top: -20px;
    margin-right: 40px;
    margin-bottom: 35px;
}

.inicio .banner-card-two .social li {
    margin: 10px;
    font-size: 40px;
    cursor: pointer;
    transition: .3s;
}

.inicio .banner-card-two .contacto h5{
    text-align: center;
    margin-top: -20px;
}

.inicio .banner-card-two .contacto{
    width: 100%; 
}

.inicio .banner-card-two .contacto ul{
    margin-top: 10px;
    list-style: none;
    font-size: 15px;
}

.inicio .banner-card-two .contacto ul li{
    margin: 5px;
}

.inicio .banner-card-two .contacto ul li strong{
    display: inline-block;
    color: #ffd900;
    width: 100px;
}

.inicio .banner-card-two button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #ffffff;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 87px;
    color: #ffffff;
    position: relative;
    z-index: 10;
    transition: .5s;
}

.inicio .banner-card-two button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #ffd900;
    z-index: -1;
    transition: .3s;
}

.inicio .banner-card-two button:hover .overlay{
    width: 100%;
}

.inicio .banner-card-two button:hover{
    color: #1e2326;
}

.inicio .banner-card-two .social ul li a{
    color: #eee;
}

.fa-github,
.fa-instagram,
.fa-twitter,
.fa-linkedin{
  transition: 0.4s;
  cursor: pointer;
}

.fa-linkedin:hover,
.fa-linkedin:focus {
  color: #0A66C2;
  transform: scale(1.05);
}
.fa-twitter:hover,
.fa-twitter:focus {
  color: #00acee;
  transform: scale(1.05);
}
.fa-instagram:hover,
.fa-instagram:focus {
  color: #bd22a2;
  transform: scale(1.05);
}

.fa-github:hover,
.fa-github:focus {
  color: #000;
  transform: scale(1.05);
}