<section id="acercaDe" class="acercaDe">
    <div class="contenido-acercaDe">
        <h2>Sobre mí</h2>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, sint. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, autem! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus voluptates repellat ut laudantium quo aliquam fuga cupiditate, soluta delectus eaque accusantium omnis vel aliquid! Est saepe dolor eaque quod sunt!</p>
        <div class="fila">
            <!-- Datos personales -->
            <div class="col">
                <h3>Datos personales</h3>
                <ul>
                    <li>
                        <strong>Cumpleaños</strong>
                        11-11-2002
                    </li>
                    <li>
                        <strong>Dirección</strong>
                        Argentina, buenos aires
                    </li>
                </ul>
            </div>

            <!-- Intereses -->
            <div class="col">
                <h3>Intereses</h3>
                <div class="contenedor-intereses">
                    <div class="intereses">
                        <i class="fa-solid fa-gamepad"></i>
                        <span>JUEGOS</span>
                    </div>
                    <div class="intereses">
                        <i class="fa-solid fa-volleyball"></i>
                        <span>VOLLEYBALL</span>
                    </div>
                    <div class="intereses">
                        <i class="fa-solid fa-music"></i>
                        <span>MÚSICA</span>
                    </div>
                    <div class="intereses">
                        <i class="fa-solid fa-briefcase"></i>
                        <span>TRABAJAR</span>
                    </div>
                    <div class="intereses">
                        <i class="fa-solid fa-dumbbell"></i>
                        <span>GYM</span>
                    </div>
                    <div class="intereses">
                        <i class="fa-solid fa-code"></i>
                        <span>PROGRAMAR</span>
                    </div>
                    <div class="intereses">
                        <i class="fa-solid fa-graduation-cap"></i>
                        <span>ESTUDIAR</span>
                    </div>
                    <div class="intereses">
                        <i class="fa-solid fa-plane"></i>
                        <span>VIAJAR</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>