@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* ALL */
*{
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}
.contenedor-header{
    background-color: #1e2326;
    width:  100%;
    position: fixed;
    z-index: 99;
}

.contenedor-header header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 5%;
}


.contenedor-header .nav-responsive{
    background-color: #ffff;
    color:  rgb(27, 27, 27);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}