<div>
    <!-- MENÚ ENCABEZADO -->
    <div class="contenedor-header">
        <header>
            <!-- LOGO AP -->
            <app-logo-ap></app-logo-ap>
            
            <nav id="nav">
                <!-- SECCIONES DEL ENCABEZADO -->
                <app-nav-links></app-nav-links>
                
            </nav>

            <!-- BOTÓN DE LOGIN -->
            <li><app-login></app-login></li>

            <!-- BOTÓN RESPONSIVE -->
            <div class="nav-responsive">
                <i class="fa-solid fa-bars"></i>
            </div>
        </header>
    </div>


    <!-- INICIO -->
    <app-inicio></app-inicio>

    <!-- SOBRE MI -->
    <app-acerca-de></app-acerca-de>
</div>




