<div class="">

    <!-- MENÚ ENCABEZADO -->
    <div class="header">

        <!-- LOGO AP -->
        <app-logo-ap class="logoAP"></app-logo-ap>

        <!-- SECCIONES DEL ENCABEZADO -->
        <app-nav-links></app-nav-links>

        <!-- BOTÓN DE LOGIN -->
        <app-login></app-login>

        <!-- BOTÓN RESPONSIVE -->
        <div class="nav-responsive">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
    <!-- PERFIL Y CONTACTO -->
    <app-inicio></app-inicio>

    <!-- ACERCA DE MI -->
    <app-acerca-de></app-acerca-de>


</div>




