
<!-- Button login Offcanvas-->
<button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas">Login</button>

    <!-- Offcanvas menú -->
<div class="offcanvas offcanvas-end menu" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">

        <h5 class="offcanvas-tittle">
            Login
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">

        <div>
            <p>Solo admin login!</p>
        </div>

    </div>
</div>
